---
layout: default 
---
<header class="bloghead">
    <!--<h1 class="bloghead-title">
    a href="{{ site.url }}/">{{ site.name }}</a>
  </h1>-->
    <nav class="bloghead-nav">
        {% for nav in site.nav %}
        <a href="{{ nav.href }}">{{ nav.name }}<span> &nbsp;/&nbsp; </span></a> {% endfor %}
    </nav>
</header>
<div class="content">
    <br />
    <h2 class="page-title">News</h2>
    {% if site.posts.size == 0 %}
    No News {% else %} {% for post in paginator.posts %}
    <div class="post-list">
        <p><h3><time>{{ post.date | date_to_string }}</time></h3>
        {% if post.description %}
        :{{ post.description }}</p>
        {% endif %}
    </div>
    {% endfor %} {% if paginator.total_pages > 1 %}
    <div class="pages">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">></a>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</div>
