<head>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
</head>
<body>
      <h1>Skills</h1>
      {% for skills in site.skills %}
            {%assign loopindex = forloop.index | modulo: 2 %}
            <canvas id="{{ skills.id }}" style="display:block;width:500px;height:500px;"></canvas>
            <script>
                var ctx = document.getElementById("{{ skills.id }}");
                /*ctx.{{ skills.id }}.width = 300;
                ctx.{{ skills.id }}.height = 300;*/
                var data = {
                    labels: "{{ skills.aspects }}".split(","),
                    datasets: [{
                        label: "{{ skills.label }}",
                        backgroundColor: "rgba(179,181,198,0.2)",
                        borderColor: "#DE1937",
                        pointBackgroundColor: "#DE1937",
                        pointBorderColor: "#fff",
                        pointHoverBackgroundColor: "#DE1937",
                        pointHoverBorderColor: "#DE1937",
                        data: [{{ skills.percentage }}]
                        }]
                };
                var myRadarChart = new Chart(ctx, {
                    type: 'radar',
                    data: data,
                    options: {
                        scale: {
                            responsive: true,
                            maintainAspectRatio: false,
                            ticks: {
                                  min: 0, 
                                  max: 100,
                                  fontSize: 20
                            },
                            lineArc: false,
                            pointLabels: {fontSize: 14},
                        },
                        legend: {display: false},
                    }
                });
            </script>
      {% endfor %}
</body>
